
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    background-color: #0c0d12;
    color: white;
}

.anchor{
    display: flex;
    
}

.button{
  border: white solid 1px;
}

.label{
    color: white;
}